header {
   background-color:hsl(4.24,4.34%,4.75%);
   max-width: 4rem;
   color: pink;
   }

body {
  background-color:hsl(0.24,0.34%,0.75%);
} /* greenish */

h1 {
  font-family: fira sana;
  color: black;
  text-align: center;
}

h2 {
  font-family: fira sana;
  color: brown;
  text-align: center;
  font-size: 5rem;
}

p {
  font-family: fira sans;
  font-size: 1rem;
}

