body {
  font-family: "fira sans";
  font-size: 1rem;
  line-height: 1.5;
  background-color: hsl(86 34% 75%); /* greenish */
}

header {
   background-color: hsl(186 20% 75%);
   max-width: 4rem;
   color: pink;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: brown;
  text-align: center;
  font-size: 5rem;
}
